body {
	background-image: url("/blob/master/header.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	justify-content: center;
}

.headline {
	color: white;
	font-family: arial;
	font-size: 26px;
	padding-top: 300px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.button-alex {
	padding-top: 180px;
	text-align: center;
}

.btn-orange {
	background-color: #EE7600;
	color: white;
	border-radius: 25px;
	text-align: center;
	width: 150px;
}

.btn-orange:hover {
	background-color: white;
	color: #ee7600;
	border-radius: 25px;
	text-align: center;
	width: 150px;
}


@media (max-width: 576px) { 

	.headline {
		color: white;
		font-family: arial;
		font-size: 12px;
		padding-top: 80px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
}

	.button-alex {
		padding-top: 60px;
		text-align: center;
}

	.btn-orange {
		background-color: #EE7600;
		border-radius: 25px;
		color: white;
		font-size: 8px;
		height: 25px;
		text-align: center;
		width: 80px;
}

	.btn-orange:hover {
		background-color: white;
		border-radius: 25px;
		color: #ee7600;
		font-size: 8px;
		height: 25px;
		text-align: center;
		width: 80px;
}
}

@media (min-width: 577px) and (max-width: 768px){ 

	.headline {
		color: white;
		font-family: arial;
		font-size: 16px;
		padding-top: 130px;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
}

	.button-alex {
		padding-top: 84px;
		text-align: center;
}

	.btn-orange {
		background-color: #EE7600;
		border-radius: 25px;
		color: white;
		font-size: 8px;
		height: 25px;
		text-align: center;
		width: 80px;
}

	.btn-orange:hover {
		background-color: white;
		border-radius: 25px;
		color: #ee7600;
		font-size: 8px;
		height: 25px;
		text-align: center;
		width: 80px;
}
}

@media (min-width: 769px) and (max-width: 992px) { 

	.headline {
	color: white;
	font-family: arial;
	font-size: 24px;
	padding-top: 180px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

	.button-alex {
		padding-top: 102px;
		text-align: center;
}

	.btn-orange {
		background-color: #EE7600;
		border-radius: 25px;
		color: white;
		font-size: 8px;
		height: 25px;
		text-align: center;
		width: 80px;
}

	.btn-orange:hover {
		background-color: white;
		border-radius: 25px;
		color: #ee7600;
		font-size: 8px;
		height: 25px;
		text-align: center;
		width: 80px;
}
}

